@font-face {
  font-family: "PraysireDemo";
  src: url("../fonts/Praysire-Demo.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato-ExtraBold";
  src: url("../fonts/Lato-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato-Medium";
  src: url("/fonts/Lato-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
