@import url(reset.css);

.wrapper {
  background: url("..//img/mountains-background-game-vector.jpg") 0 0 no-repeat;
  font-size: 0;
}

.list {
  margin: 0 auto;
  font-size: 14px;
  max-width: 270px;
  padding: 5px;
}

.item {
  padding-left: 45px;
  padding-top: 4px;
  background: url("../img/Checkbadge1.png") 0 0 no-repeat;
  margin-bottom: 10px;
  min-height: 32px;
  line-height: 1.5;
  font-family: "Montserrat", "Roboto", sans-serif;
  font-weight: 600;
}

.items:hover {
  color: rgba(0, 0, 0, 0.4);
}

.items a:focus {
  outline: 1px solid red;
}

a:visited {
  color: #bdbdbd;
}
.item:active {
  background: url("../img/Checkbadge.png") 0 0 no-repeat;
}

.item-disabled {
  padding-left: 45px;
  padding-top: 4px;
  background: url("../img/Checkbadge.png") 0 0 no-repeat;
  margin-bottom: 10px;
  min-height: 32px;
  line-height: 1.5;
  font-family: "Montserrat", "Roboto", sans-serif;
  font-weight: 600;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background: url(/img/41524.jpg) 0 0 no-repeat;
  background-size: 1200px auto;
}

.container h2 {
  font-family: "Roboto", sans-serif;
  padding-top: 20px;
  font-size: 20px;
  font-weight: 800;
  padding-left: 20px;
  color: white;
}

.sections {
  font-size: 0;
  padding-left: 20px;
}

.section {
  visibility: hidden;
}

.section:hover + .section,
.section:hover {
  visibility: visible;
}
.section-1 {
  height: 60px;
  background: url("../img/truba.png") 0 0 no-repeat;
  width: 60px;
  background-size: 100%;
  visibility: visible;
}

.section-2 {
  background: url("../img/y.png") 0 0 no-repeat;
  background-size: 100%;
  height: 20px;
  width: 120px;
  margin-left: 56px;
  margin-top: -20px;
}
.section-3 {
  background: url("../img/x.png") 0 0 repeat-y;
  height: 100px;
  width: 24px;
  margin-left: 153px;
}
.section-4 {
  background: url("../img/y.png") 0 0 no-repeat;
  background-size: 100%;
  height: 10px;
  width: 120px;
  margin-left: 153px;
}
.section-5 {
  background: url("../img/x.png") 0 0 repeat-y;
  height: 100px;
  width: 20px;
  margin-left: 253px;
}
.section-6 {
  background: url("../img/y.png") 0 0 no-repeat;
  background-size: 100%;
  height: 20px;
  width: 120px;
  margin-left: 253px;
}
.section-7 {
  background: url("../img/y.png") 0 0 no-repeat;
  background-size: 100%;
  height: 10px;
  width: 120px;
  margin-top: -10px;
  margin-left: 373px;
}
.section-8 {
  background: url("../img/x.png") 0 0 repeat-y;
  height: 100px;
  width: 20px;
  margin-left: 473px;
}
.section-9 {
  background: url("../img/x.png") 0 0 repeat-y;
  height: 140px;
  width: 30px;
  margin-left: 473px;
}
.section-10 {
  background: url("../img/y.png") 0 0 no-repeat;
  background-size: 100%;
  height: 15px;
  width: 200px;
  margin-left: 473px;
}
.section-11 {
  background: url("../img/x.png") 0 0 repeat-y;
  height: 140px;
  width: 30px;
  margin-left: 643px;
}
.section-12 {
  background: url("../img/y.png") 0 0 no-repeat;
  background-size: 100%;
  height: 30px;
  width: 200px;
  margin-left: 473px;
}
.section-13 {
  background: url("../img/x.png") 0 0 repeat-y;
  height: 40px;
  width: 30px;
  margin-left: 473px;
}
.section-14 {
  background: url("../img/y.png") 0 0 no-repeat;
  background-size: 100%;
  height: 30px;
  width: 200px;
  margin-left: 273px;
  margin-top: -30px;
}
.section-15 {
  background: url("../img/y.png") 0 0 no-repeat;
  background-size: 100%;
  height: 15px;
  width: 200px;
  margin-left: 73px;
  margin-top: -15px;
}
.section-16 {
  height: 32px;
  background: url("../img/mario.png") 0 0 no-repeat;
  width: 26px;
  margin-top: -90px;
  margin-left: 33px;
  background-size: 100%;
}
.section-17 {
  height: 60px;
  background: url("../img/truba.png") 0 0 no-repeat;
  width: 60px;
  background-size: 100%;
  margin-left: 17px;
  visibility: visible;
}
.footer {
  max-width: 1200px;
  margin: 0 auto;
}

.text p::before {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  content: "";
  border: 1px solid #ff000f;
  border-radius: 50%;
}

.text p::after {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  content: "";
  border: 1px solid #02e615;
  border-radius: 50%;
}

.text p:nth-child(5n) {
  background-color: greenyellow;
}

.text p:nth-child(3n + 3) {
  background-color: darkorchid;
}

.text p:nth-child(8n - 1) {
  background-color: sienna;
}

.text p:first-child {
  color: #5f0000;
  text-shadow: 3px 8px 2px rgba(0, 0, 0, 0.6);
}

.text p:last-of-type {
  background-color: aqua;
}

.text p:nth-child(2) {
  background-color: aquamarine;
}

.text p:not(:nth-child(2)) {
  padding: 20px;
  text-align: center;
}

.second-text:has(p) {
  text-align: center;
  padding: 10px;
}

.second-text p:nth-child(odd) {
  color: blue;
}

.second-text p:nth-child(even) {
  color: red;
}
